.Navigation {
    height: 80px;
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
    border-bottom: solid 1px darkslategray;
    color: white;
    
}
.TopStrip {
    height: 40px;
    width: 100%;
    background-color: darkslategray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}
.Logo {
    height: 30px;
    width: 75px;
    background-color: green;
    padding-top: 6px;
    padding-left: 6px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-left: 10px;
    color: black;

}
.Number {
    height: 20px;
    width: 130px;
    box-sizing: border-box;
    margin-top: 12px;
    margin-right: 5px;
    margin-left: 5px;
}
.BottomStrip {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 19px;
    box-sizing: border-box;
    color: darkslategray;
    font-family: 'Work Sans', sans-serif;
}
.MenuButton {
   background-color:  white;
   height: 20px;
   width: 20%;
   text-align: center;
   border: none;
}
.Active {
    background-color:  darkslategray;
    color: white;
}
@media only screen and (max-width: 380px) {
    .Number {
        display: none;
    }
}